#divUpper{
    font-size: 3em;
}

#btnRichiesteAppuntamento{
	margin-right: 20em;
}

#headerTbl{
	margin-left: 8em;
}

.headerCol{
	width: 30%;
}

#body{
	align-content: flex-start;
    display: inline;
}

#divDatepicker{
	float: left;
	margin-left: 20em;
	margin-right: 4em;
	margin-top: 5.8em;
}

#divAppuntamenti{
	margin-left: 1em;
	margin-top: 1em;
	display: inline-block;
}

#divRispostaMessaggio{
	margin-right: 0.5em;
	margin-left: 0.5em;
}

#giorniAppuntamenti{
	margin-left: 10.35em;
}

#tblAppuntamenti{
	margin-top: 2em;
	width: 50em;
}

#txtAppuntiDettagliAppuntamento{
	resize: none;
}

#btnSalvaSituazionePaziente{
	margin-top: 0.25em;
}

#txtNoteNuovoAppuntamento{
    resize: none;
}

#divDettagliAppuntamento{
    float: right;
    width: 25%;
    margin-top: -18em;
    margin-right: 6.8em;
    background: rgb(240,240,240);
}

#mainDiv {
    transition: margin-left 0.5s;
}

#sidenavBody{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#btnEliminaAppuntamento{
	margin-top: 2em;
}

#popupRichieste{
	position: relative;
	float: left;
	margin-left: 23em;
	margin-top: -30em;
}

#tblDateOreProposte tr td{
	width: 10em;
	height: 3em;
}

.dataRisposta{
	width: 95%;
}

.txtOra{
	width: 50%;
}

.popupRisposta{
	position: relative;
	float: left;
	margin-left: 75em;
	margin-top: -32.25em;
}