#header{
	margin: 1em;
}

#btnSchede{
	margin-left: 1em;
}

#lblAppuntamento1{
	margin-left: 1.5em;
}

#lblAppuntamento2{
    margin-left: 0.25em;
}

#lblProxAppuntamento1{
	margin-left: 1.5em;
}

#lblProxAppuntamento2{
    margin-left: 0.25em;
}

#btnAppuntamenti{
	margin-left: 1em;
}

.modal-dialog{
    width: 50em;
}

.form-control{
   width: 15em;
   margin-left: 0.5em;
}

.inputMore{
   width: 36em;
}

.popupAggiungiNuovo3Col{
    margin-left: 1em;
}

.tblPopupAggiungiNuovoRow{
    height: 3em;
}

.txtOsservazioniPopup{
    resize: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(236, 236, 236);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-left:1px solid rgb(127, 127, 127);
    border-top:1px solid rgb(127, 127, 127);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

.sidenav button {
    margin-top: 1em;
}

#mainDiv {
    transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

.lblEuro{
    margin-left: 0.25em;
    margin-bottom: 0.5em;
}






/*Elementi relativi al div dinamico che gestiscono le barre laterali aperte dopo il click su una riga*/

/*Anagrafica*/
#lblCodice{
    text-align: center;
}

#txtSituazionePazienteOggi{
    resize: none;
    width: 34em;
}

td #btn {
    margin-left: 3em;
}

#chkLblPagaAdesso{
    margin-top: 2em;
}

#chkPagato{
    margin-right: 1em;
    float: left;
    display: inline;
}

.corpoSidenav{
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#manualFileNuovoDocumento{
    display: inline-block;
    margin-left: 2em; 
}

.tblPopupModificaPazienteRow{
    height: 3em;
}













/*Contabilità*/






#lblNomeCognome{
    margin-right: 3em;
}

#corpoPagamento{
    margin-left: 1em;
    margin-right: 1em;
}

#divBottoniPagamento{
    float: right;
}